.App {
  height: 100%;
  background-color: #1b1b32;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-title {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 90px;
  color: #fff;
  font-family: lato, sans-serif;
  font-weight: 800;
}

.contenedor-calculadora {
  border: 5px solid white;
  width: 400px;
  height: 600px;
  padding: 15px;
  background-color: #afc9e9;
  border-radius: 20px;
  margin-bottom: 70px;
}

.fila {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
